body {
  background-color: #a588a5;
}
h1 {
  text-align: center;
  color: #ce3f97;
  font-size: 60px;
}
h2 {
  text-align: center;
  color: #463f3a;
  margin-top: -40px;
  font-size: 30px;
}
#button {
  text-align: center;
}

button {
  border-radius: 0px;
  font-family: Georgia;
  color: #f4f3ee;
  font-size: 20px;
  background: #463f3a;
  padding: 10px 20px 10px 20px;
}
button:hover {
  background: #e0afa0;
  color: #463f3a;
}

#submit {
  margin-top: 10px;
}

#quizdiv {
  width: 650px;
  font-size: 20px;
  color: #463f3a;
  margin: auto;
}

.quizForm {
  padding-top: 10px;
  margin-top: 20px;
  border: 5px solid #e0afa0;
}

#totalScoreDiv {
  width: 650px;
  font-size: 50px;
  color: #463f3a;
  margin: auto;
}
